@import url('https://fonts.googleapis.com/css?family=Lusitana');

#root {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lusitana', serif;
}

#base-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
