#profile-card {
  width: 65%;
  background: linear-gradient(rgba(252, 250, 250, 0.8), rgba(235, 235, 235, 0.8));
}

#profile-card-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#profile-header {
  margin-top: 8% !important;
  text-align: center;
}

#profile-content {
  text-align: center;
}

.register-body-div {
  background: linear-gradient(rgba(252, 250, 250, 0.3), rgba(235, 235, 235, 0.3)), url(../images/lawyer-profile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}