#state-label {
  margin-bottom: 4px;
}

label {
  color: white !important;
  text-align: left !important;
  font-size: 1.3em !important;
  text-shadow: 2px 2px 2px rgb(3, 3, 3);
}

#state-field {
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
}

#registration-header {
  margin-top: 15% !important;
}

.ui.form .field.error input[type="text"] {
  background: rgba(247, 110, 110, 0.658);
}