.home-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

div.ui.stackable.menu {
  width: 100%;
}

.about-text {
  height: 330px;
  /* background: linear-gradient(rgba(80, 49, 119, 0.774), rgba(182, 147, 228, 0.774)); */
  background-repeat: no-repeat;
  background-size: auto;
  background: url(../images/bokeh.jpg);
  background-blend-mode: lighten;
  box-shadow: 0 0 20px rgb(69, 48, 119);
}

.about-text h1 {
  font-size: 3em;
  padding: -1em;
  line-height: 2em;
}

.about-text p {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding: 0% 0% 1% 0%;
  font-family: 'Forum';
  margin-bottom: 0.5em !important;
}

.about-text a {
  justify-content: space-between;
}

.about-text a:link {
  color: #A38FA4;
}
.about-text a:visited {
  color: #86649D;
}
.about-text a:hover {
  color: white;
}
.parallax {
  background: linear-gradient(rgba(252, 250, 250, 0.3), rgba(235, 235, 235, 0.3)), url(../images/magnifying-glass-modified.jpg);
  height: 110%;
  width: 100%;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second-parallax {
  background: linear-gradient(rgba(252, 250, 250, 0.3), rgba(235, 235, 235, 0.3)), url(../images/night-sky.jpg);
  height: 100%;
  width: 100%;
  /* background-attachment: fixed; */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 25em;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.second-parallax p {
  /* color: #86649D; */
  /* display: flex; */
  /* justify-content: center; */
  align-self: flex-end;
}

.second-parallax a {
  color: white;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

div.ui.container.grid {
  height: 100%;
  width: 100%
}

.row {
  height: 5%;
}

.stretched.row {
  height: 70%;
}

#inset-column {
  width: 80%;
}

.footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  margin-top: 9%; 
  grid-row-start: 2;
  grid-row-end: 3;
  /* height: 25%;  */
  /* border: 1px solid black; */
}

.signal-blurb {
  white-space: pre;
  padding-bottom: 1%;
  padding-top: 1%;
  margin: 1em .5em .5em .5em;
}

.footer p {
  justify-content: center;
  font-size: .8em;
}

.credits {
  background-color: white;
  display: flex;
  justify-content: center;
}

.credits p {
  margin: 0 auto 3% auto;
  color: black;
  font-size: 1em;
  white-space: pre;
}

.credits a {
  color: #A38FA4;
}

.credits a:hover {
  color:black;
}
