@import url('https://fonts.googleapis.com/css?family=Lusitana');

div#form-container {
  text-align: center;
}

div.ui.header {
  margin-top: 15% !important;
  font-size: 3.8em !important;
  color: white;
  text-shadow: 2px 2px 2px rgb(3, 3, 3);
}

form {
  overflow: hidden;
  display: inline-block;
  top: 2%;
  position: relative;
  width: 85%;
  margin-bottom: 50%;
}

div.ui.icon.input {
  width: 100%;
}