.support-body-div {
  background: linear-gradient(rgba(252, 250, 250, 0.2), rgba(235, 235, 235, 0.2)), url(../images/donate_background_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: auto;
}

#support-container {
  font-family: 'Lusitana', serif;
  margin-top: -125px;
}

h1 {
  font-family: 'Lusitana', serif;
  text-align: center;
  color: white;
  line-height: 5em;
  font-size: 5em;
  text-shadow: 2px 2px 2px rgb(3, 3, 3);
}

#donate_card {
  font-family: 'Lusitana', serif;
  background-color: rgba(242, 223, 243, 0.932);
  box-shadow: 0px 0px 15px rgb(3, 3, 3);
}

#donate_card .header {
  font-family: 'Lusitana', serif;
}

#advocate_card {
  font-family: 'Lusitana', serif;
  background-color: rgba(242, 223, 243, 0.932);
  box-shadow: 0px 0px 15px rgb(3, 3, 3);
}

#advocate_card .header {
  font-family: 'Lusitana', serif;
}

#share_card {
  font-family: 'Lusitana', serif;
  background-color: rgba(242, 223, 243, 0.932);
  box-shadow: 0px 0px 15px rgb(3, 3, 3);
}

#share_card .header {
  font-family: 'Lusitana', serif;
}

#contact_card {
  font-family: 'Lusitana', serif;
  background-color: rgba(242, 223, 243, 0.932);
  box-shadow: 0px 0px 15px rgb(3, 3, 3);
}

#contact_card .header {
  font-family: 'Lusitana', serif;
}
  
.footer {
  font-family: 'Lusitana', serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  margin-top: 9%; 
  grid-row-start: 2;
  grid-row-end: 3;
  /* height: 25%;  */
  /* border: 1px solid black; */
}

.signal-blurb {
  white-space: pre;
  padding-bottom: 1%;
  padding-top: 1%;
  margin: 1% auto auto auto;
}

.footer p {
  justify-content: center;
  font-size: .8em;
}

.credits {
  background-color: white;
  display: flex;
  justify-content: center;
}

.credits p {
  margin: 0 auto 3% auto;
  color: black;
  font-size: 1em;
  white-space: pre;
}

.credits a {
  color: #A38FA4;
}

.credits a:hover {
  color:black;
}