body {
    background-image: url(./donate_background_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div.ui.container.grid {
    height: 100%;
  }
  
  .row {
    height: 15%;
  }
  
  .stretched.row {
    height: 50%;
  }
  
  /* #inset-column {
    background-color: rgba(206, 206, 206, 0.9);
    border: 5px solid grey;
    border-radius: 15px;
    width: 80%;
    box-shadow: 15px 15px 25px rgb(129, 129, 129);
  } */
  