#root {
  height: 100%;
}

body {
  background-image: url(./second_home_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

div.ui.container.grid {
  height: 100%;
}

.row {
  height: 15%;
}

.stretched.row {
  height: 50%;
}

#inset-column {
  width: 80%;
}

