.support-body-div {
  background: linear-gradient(rgba(252, 250, 250, 0.2), rgba(235, 235, 235, 0.2)), url(./donate_background_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}

#support-container {
  margin-top: -125px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 5em;
  font-size: 5em;
  text-shadow: 2px 2px 2px rgb(3, 3, 3);
}

#donate_card {
  background-color: rgba(215, 183, 185, 0.945);
  box-shadow: 0px 0px 15px rgb(3, 3, 3);
}

#advocate_card {
  background-color: rgba(242, 223, 243, 0.932);
  box-shadow: 0px 0px 15px rgb(3, 3, 3);
}

#share_card {
  background-color: rgba(203, 207, 222, 0.938);
  box-shadow: 0px 0px 15px rgb(3, 3, 3);
}

#contact_card {
  background-color: rgba(255, 255, 255, 0.932);
  box-shadow: 0px 0px 15px rgb(3, 3, 3);
}
  